body{
    cursor: ;
}

h1{
    color:#CD0768;
    font-size:80%;
    position: relative;
    font-family: myfont;

    transition: background-color:black;

}
a{  color:#CD0768;
    font-size:2vw;
    position: relative;
    font-family: myfont;}
#bild{
    width: 50vw;
    border-color:deepskyblue;
    background-color: #FFE2FB;
    
}
#container{
    display:flex;
    justify-content: center;
}
@font-face {
    font-family: myfont;
    src: url(./fonts/Starbim.ttf);
}
.button{
    width: 10vw;
}

#Blume{
    width:10vw ;
}
#Blumekl{
    width:6vw ;
}
.rotate {
  animation: rotation 8s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

h1:hover{
    background-color:black;
    opacity:1;
}

.button:hover{
    width:12vw
}
.button{
    width: 10vw;
    transition: width 0,2s;
}

@media (orientation: portrait){

    #bild:
    width: 100vw;
}

