
body{
    overflow: hidden;
    background-color: #FFF497;
}

#frame_container{


    width:100vw;
    display: flex;
    justify-content: center;
    overflow: hidden;


}

#frame{

    height:100vh;

}
